<div class="fixed w-full bottom-0">
    <div id="qrScanner" class="w-full bg-black hidden">
        <video id="cameraPreview" class="w-full bg-black">
        </video>
        <div id="qrScannerInfo"
            class="bg-green-500 w-full z-10 absolute text-center"
            style="bottom: 100px;">

            <div id="qrScannerDesc" class="text-xl text-white m-2"></div>
            <div id="qrScannerKeyword" class="text-sm text-white m-2"></div>
            <button
                id="qrScannerApply"
                onclick="applyWord()"
                class="w-full text-white font-bold py-2 px-4 rounded bg-purple-500">
                Použít
            </button>
        </div>

    </div>
    <button id="qrScannerButton" onclick="toggleScanner()"
        class="absolute w-full bottom-0 right-0 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
        Skenovat
    </button>
</div>

<script>
    var header = document.getElementById("header");
    var div = document.createElement('div');
    div.innerHTML = `<select name="qrCameraSelect" id="qrCameraSelect"
            class="appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight hidden">
        </select>`;
    header.appendChild(div);
</script>

<script type="text/javascript" src="/static/js/instascan.min.js"></script>
<script>
    var qrScanner = document.getElementById("qrScanner");
    var cameraPreview = document.getElementById("cameraPreview");
    var cameraSelector = document.getElementById("qrCameraSelect");
    var scanner = null;
    var allCameras = null;
    var camera = null;
    var currentKeyword = null;

    document.addEventListener('input', function (event) {
        console.log(event);
        if (event.target.id !== 'qrCameraSelect') return;
        var idx = event.target.value;
        camera = allCameras[idx];
        localStorage.setItem("cameraIdx", idx);
        stopScanner();
        startScanner();
    }, false);

    function toggleScanner() {
        if (qrScanner.classList.contains("hidden")) {
            startScanner();
        } else {
            stopScanner();
        }
    }

    async function startScanner() {
        if (scanner == null) {
            await initScanner();
        }
        currentKeyword = null;
        showKeyword(currentKeyword);
        document.getElementById("qrScannerButton").innerText = "Zavřít skener";
        qrScanner.classList.remove("hidden");
        cameraSelector.classList.remove("hidden");
        scanner.start(camera);
        document.getElementById("qrScannerApply").disabled = true;
    }

    function stopScanner() {
        qrScanner.classList.add("hidden");
        cameraSelector.classList.add("hidden");
        if (scanner == null) {
            return;
        }
        scanner.stop();
        document.getElementById("qrScannerButton").innerText = "Skenovat";
    }

    function getValue(keyword) {
        for (form of document.getElementsByTagName("form")) {
            for (element of form.elements) {
                if (element.tagName == "SELECT") {
                    options = element.getElementsByTagName("OPTION");
                    for (var i = 0; i != options.length; i++) {
                        if (options[i].value == keyword) {
                            return options[i].innerHTML;
                        }
                    }
                }
            }
        }
        return "Neznámý identifikátor";
    }

    function assignToElement(element, keyword) {
        if (element.type == "hidden") {
            return false
        }
        if (element.tagName == "SELECT") {
            options = element.getElementsByTagName("OPTION");
            for (var i = 0; i != options.length; i++) {
                if (options[i].value == keyword) {
                    element.value = keyword;
                    return true;
                }
            }
        }
        return false;
    }

    function applyWord() {
        // Try to assign it to active element
        if (assignToElement(document.activeElement, currentKeyword)) {
            stopScanner();
            return;
        }
        for (form of document.getElementsByTagName("form")) {
            for (element of form.elements) {
                if (assignToElement(element, currentKeyword)) {
                    stopScanner();
                    return;
                }
            }
        }
        alert("Nepodařilo se přiřadit hodnotu '" + currentKeyword + "'");
    }

    function showKeyword(keyword) {
        if (!keyword) {
            document.getElementById("qrScannerDesc").innerText = "";
            document.getElementById("qrScannerKeyword").innerText = "";
            document.getElementById("qrScannerApply").disabled = true;
            document.getElementById("qrScannerApply").classList.add("hidden");
            return;
        }
        document.getElementById("qrScannerDesc").innerText = getValue(keyword);
        document.getElementById("qrScannerKeyword").innerText = keyword;
        document.getElementById("qrScannerApply").disabled = false;
        document.getElementById("qrScannerApply").classList.remove("hidden");
    }

    async function initScanner() {
        scanner = new Instascan.Scanner({ video: cameraPreview, mirror: false });
        scanner.addListener('scan', function (content) {
            {% comment %} if (!(content in keywords)) {
                alert("Naskenován neznámý kód '" + constent + "'");
                return;
            } {% endcomment %}

            currentKeyword = content;
            showKeyword(currentKeyword);
        });
        await Instascan.Camera.getCameras().then(function (cameras) {
            allCameras = cameras;
            for (var i = 0; i != cameras.length; i++) {
                if (cameras[i].name != null) {
                    name = cameras[i].name;
                } else {
                    name = cameras[i].id;
                }
                cameraSelector.options[i] = new Option(name, i);
            }

            if (cameras.length > 0) {
                if (localStorage.getItem("cameraIdx") != null) {
                    var idx = localStorage.getItem("cameraIdx");
                    camera = allCameras[idx];
                    cameraSelector.selectedIndex = idx;
                    return;
                }
                for (var i = 0; i != cameras.length; i++) {
                    if (allCameras[i].name == null) {
                        continue;
                    }
                    if (allCameras[i].name.indexOf('back') != -1) {
                        camera = allCameras[i];
                        cameraSelector.selectedIndex = i;
                        localStorage.setItem("cameraIdx", i);
                        return;
                    }
                }
                // Use first camera
                camera = allCameras[0];
                cameraSelector.selectedIndex = 0;
                localStorage.setItem("cameraIdx", 0);
            } else {
                console.error('No cameras found.');
                alert("No cameras found");
            }
        }).catch(function (e) {
            console.error(e);
        });
    }


</script>