{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Tailwind CSS Skeleton{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
    <script src="{% static "js/Chart.bundle.min.js" %}"></script>
    <script src="{% static "js/flatpickr.min.js" %}"></script>
    <script src="{% static "js/flatpickr.cs.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/flatpickr.min.css" %}">
    <script>
        function auto_grow(element) {
            element.style.height = "10px";
            element.style.height = (element.scrollHeight)+"px";
        }
    </script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal flex flex-col min-h-screen">

    <nav id="header" class="bg-white w-full z-10 top-0 shadow">
        <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

            <!-- Caption -->
            <div class="w-1/2 pl-2 md:pl-0">
                <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                    <i class="fas fa-city text-orange-600 pr-3"></i> Příběh civilizace
                </a>
            </div>
            <!-- /Caption -->

            <!-- User Menu -->
            <div class="w-1/2 pr-0">
                <div class="flex relative inline-block float-right">
                    {% block userMenu %}
                    {% if request.user %}
                        <div class="relative text-sm">
                            <button id="userButton" class="flex items-center focus:outline-none mr-3">
                                <span class="md:inline-block">
                                    Příhlášen jako {{request.user.username}}
                                        {% if request.user.lastname %}
                                            ({{request.user.firstname}} {{request.user.lastname}})
                                        {% endif %}
                                </span>
                                <svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                    <g>
                                        <path
                                            d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                                    </g>
                                </svg>
                            </button>
                            <div id="userMenu"
                                class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                                <ul class="list-reset">
                                    <li><a href="{% url 'logout' %}"
                                            class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Odhlásit se</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="block lg:hidden pr-4">
                            <button id="nav-toggle"
                                class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
                                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <title>Menu</title>
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                                </svg>
                            </button>
                        </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <!-- /User Menu -->


            <div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20"
                id="nav-content">
                    {% block nav %} {% endblock %}
                </ul>
            </div>

        </div>
    </nav>

    <!--Container-->
    <div class="container w-full mx-auto pt-1 flex-grow">
        <div class="w-full px-4 md:px-0 md:mt-4 text-gray-800 leading-normal">
            {% if messages %}
                {% for message in messages %}
                <div class="{{ message.tags }} border-t-4 rounded-b px-4 py-3 shadow-md my-4">
                    <p class="w-full">{{message|safe}}</p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
            {% block content %} {% endblock %}
        </div>
    </div>
    <!--/Container-->

    {% block afterContainer %}{% endblock %}

    <footer class="bg-white border-t border-gray-400 shadow">
        <div class="container max-w-md mx-auto flex py-8">
        </div>
    </footer>

    <script>
        /*Toggle dropdown list*/
        /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

        var userMenuDiv = document.getElementById("userMenu");
        var userMenu = document.getElementById("userButton");

        var navMenuDiv = document.getElementById("nav-content");
        var navMenu = document.getElementById("nav-toggle");

        document.onclick = check;

        function check(e) {
            var target = (e && e.target) || (event && event.srcElement);

            //User Menu
            if (!checkParent(target, userMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, userMenu)) {
                    // click on the link
                    if (userMenuDiv.classList.contains("invisible")) {
                        userMenuDiv.classList.remove("invisible");
                    } else { userMenuDiv.classList.add("invisible"); }
                } else {
                    // click both outside link and outside menu, hide menu
                    userMenuDiv.classList.add("invisible");
                }
            }

            //Nav Menu
            if (!checkParent(target, navMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, navMenu)) {
                    // click on the link
                    if (navMenuDiv.classList.contains("hidden")) {
                        navMenuDiv.classList.remove("hidden");
                    } else { navMenuDiv.classList.add("hidden"); }
                } else {
                    // click both outside link and outside menu, hide menu
                    navMenuDiv.classList.add("hidden");
                }
            }

        }

        function checkParent(t, elm) {
            while (t.parentNode) {
                if (t == elm) { return true; }
                t = t.parentNode;
            }
            return false;
        }

        flatpickr(".datetime", {
            enableTime: true,
            dateFormat: "H:i d.m.Y",
            locale: "cs"
        });

        flatpickr(".date", {
            dateFormat: "d.m.Y",
            locale: "cs"
        });


    </script>

</body>

</html>