{% extends "base.html" %}

{% block title %}Náhled technologického stromu{% endblock %}

{% block content %}

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/dagre-d3.min.js"></script>

<style>
.node rect {
  padding: 0;
  background: none;
  border: none;
  fill: white;
  stroke: black;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
</style>

<h1>Náhled výrob</h1>

{% if missing %}
    <div class="w-full px-4 md:px-0 md:mt-4 text-gray-800 leading-normal">
        <div class="warning border-t-4 rounded-b px-4 py-3 shadow-md my-4">
            <p class="w-full">Následující zdroje nejsou použity a byly skryty: {{missing}}</p>
        </div>
    </div>
{% endif %}

<button class= "w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="download" onclick="return downloadSVG()">Stáhnout SVG</button>

<svg id="graph" class="w-full h-screen border-2">
    <g/>
</svg>

<script>
    var g = new dagreD3.graphlib.Graph().setGraph({})
        .setGraph({rankdir: 'LR', edgesep: 10, ranksep: 500, nodesep: 20});

    var nodes = {};

    {% for resource in resources %}
        {% if resource.id != "res-prace" and resource.id != "res-obyvatel" %}
            var div = document.createElement("div");
            var html = '<div class="text-sm" style="width: 300px; white-space: normal;">';
            html += '<h3 class="text-lg border-b">' + "{{resource.label}}" + '</h3>';
            html += '<p>' + "{{resource.flavour}}" + '</p>';
            html += '</div>';
            div.innerHTML = html;
            g.setNode( "{{resource.id}}", { label: div });
            nodes["{{resource.id}}"] = 1;
        {% endif %}
    {% endfor %}

    {% for vyroba in vyrobas %}
        var div = document.createElement("div");
        var html = '<div class="text-sm" style="width: 300px; white-space: normal;">';
        html += '<h3 class="text-lg border-b">' + "{{vyroba.label}}" + '</h3>';
        html += '<p>' + "{{vyroba.flavour}}" + '</p>';

            html += '<b>Vstupy:</b>'
            html += '<ul class="list-disc">';
            html += '<li>{{vyroba.dots}}x {{vyroba.die.label}}';
            {% for input in vyroba.inputs.all %}
                html += '<li>{{input.amount}}x {{input.resource.label}}</li>';
            {% endfor %}
            html += '</ul>';

        html += '</div>';
        div.innerHTML = html;
        g.setNode( "{{vyroba.id}}", { label: div, style: "fill: #afa" });

        {% for input in vyroba.inputs.all %}
            {% if input.resource.id != "res-prace" and input.resource.id != "res-obyvatel" %}
                if ( !("{{input.resource.id}}" in nodes) ) {
                    console.log(  "Y {{input.resource.id}}" );
                }
                g.setEdge( "{{input.resource.id}}", "{{vyroba.id}}", { label: "", curve: d3.curveBasis  });
            {% endif %}
        {% endfor %}
        if ( !("{{vyroba.output.id}}" in nodes) ) {
            console.log( "X {{vyroba.output.id}}, {{vyroba.id}}" );
        }

        {% if vyroba.output.id != "res-prace" and vyroba.output.id != "res-obyvatel" %}
            g.setEdge( "{{vyroba.id}}", "{{vyroba.output.id}}", { label: "{{vyroba.amount}}x", curve: d3.curveBasis  });
        {% endif %}
    {% endfor %}

    const POINT_RADIUS = 0;
    function renderNode(parent, bbox, node) {
        parent.selectAll('rect, circle').remove();
        parent.insert('circle', ':first-child')
            .attr('cx', -bbox.width / 2)
            .attr('cy', 0)
            .attr('r', POINT_RADIUS)
            .attr('class', 'port in');

        parent.insert('circle', ':last-child')
            .attr('cx', bbox.width / 2)
            .attr('cy', 0)
            .attr('r', POINT_RADIUS)
            .attr('class', 'port out');

        parent.insert('rect', ':first-child')
            .attr('x', -bbox.width / 2)
            .attr('y', -bbox.height / 2)
            .attr('width', bbox.width)
            .attr('height', bbox.height)
            .attr('style', node.style);

        node.intersect = (point) => {
            const w = node.width / 2;
            return { x: node.x + (point.x < node.x ? -w : w), y: node.y };
        };
        return parent;
    }

    var svg = d3.select("#graph");
    var inner = svg.select("g");

    // Set up zoom support
    var zoom = d3.zoom().on("zoom", function() {
        inner.attr("transform", d3.event.transform);
        });
    svg.call(zoom);

    // Create the renderer
    var render = new dagreD3.render();
    render.shapes().rect = renderNode;

    // Run the renderer. This is what draws the final graph.
    render(inner, g);


    // Highlight edges
    var nodes = svg.selectAll(".node");
    var path = svg.selectAll("path");
    console.log(nodes);

    var defaultStrokeWidth;
    var defaultStrokeColor;
    nodes.on('mouseover', function(d) {
        defaultStrokeColor = path.style('stroke');
        defaultStrokeWidth = path.style('stroke-width');

        var related = new Set();
        path.style('stroke-width', function(l) {
            if (d === l.v || d === l.w) {
                related.add(l.v);
                related.add(l.w);
                return 2;
            }
            else
                return defaultStrokeWidth;
        });
        path.style('stroke', function(l) {
            if (d === l.v || d === l.w)
                return "red";
            else
                return defaultStrokeColor;
        });

        nodes.each(function(l) {
            if (related.has(l)) {
                this.getElementsByTagName('rect')[0].style.stroke = "red";
            }
            else
                this.getElementsByTagName('rect')[0].style.stroke = defaultStrokeColor;
        });
    });

    // Set the stroke width back to normal when mouse leaves the node.
    nodes.on('mouseout', function() {
        path.style('stroke-width', defaultStrokeWidth);
        path.style('stroke', defaultStrokeColor);
        nodes.each(function(l) {
            this.getElementsByTagName('rect')[0].style.stroke = defaultStrokeColor;
        });
    });

    // Center the graph
    var initialScale = 1;
    svg.call(zoom.transform, d3.zoomIdentity.translate((svg.node().getBBox().width - g.graph().width * initialScale) / 2, 20).scale(initialScale));

    document.getElementById("content").classList.remove("container");
</script>


<script>
    function getFile(url, onComplete) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log('success!', xhr);
                onComplete(xhr.response);
            } else {
                console.log('The request failed!');
            }
            console.log(xhr.response);
        };

        // Create and send a GET request
        // The first argument is the post type (GET, POST, PUT, DELETE, etc.)
        // The second argument is the endpoint URL
        xhr.open('GET', url);
        xhr.send();
    }

    var mainStyle = "";
    getFile("/static/css/styles.min.css", (data) => { mainStyle = data; });
    var inlineStyle = `
            .node rect {
                padding: 0;
                background: none;
                border: none;
                fill: white;
                stroke: black;
                }

                .edgePath path {
                stroke: #333;
                fill: #333;
                stroke-width: 1.5px;
                }
    `;

    function downloadSVG() {
        document.getElementById('graph').setAttribute('xmlns', 'http://www.w3.org/2000/svg')
        const svg = document.getElementById('graph').innerHTML;
        var head = '<svg title="graph" version="1.1" xmlns="http://www.w3.org/2000/svg">';
        var style = "<style>" + mainStyle + inlineStyle + "</style>";
        var full_svg = head +  style + svg + "</svg>"
        const blob = new Blob([full_svg], {type: "image/svg+xml"});
        const element = document.createElement("a");
        element.download = "w3c.svg";
        element.href = window.URL.createObjectURL(blob);
        element.click();
        element.remove();
    }
</script>

{% endblock %}