{% extends "game/taskBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Příběh civilizace - Úkoly {% endblock %}

{% block content %}
    <h1>Vývěska — {% if edit %}Editace úkolu{% else %}Nový úkol{% endif %}</h1>
    <p>Pro editaci je možné použít markdown!</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="w-full flex my-2 py-2">
            <div class="md:w-1/3">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4 requiredField">
                    Náhled popisku pro tým
                </label>
            </div>
            <div class="md:w-2/3" id="renderedTeamDescription">
            </div>
        </div>

        <div class="w-full flex my-2 py-2">
            <div class="md:w-1/3">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4 requiredField">
                    Náhled popisku pro orga
                </label>
            </div>
            <div class="md:w-2/3" id="renderedOrgDescription">
            </div>
        </div>

        <button
            type="submit"
            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
            Uložit
        </button>
        <script src="/static/js/marked.js"></script>
        <script>
            marked.setOptions({
                pedantic: true
            });
            var teamDescription = document.getElementById("{{form.teamDescription.auto_id}}");
            var renderedTeamDescription = document.getElementById("renderedTeamDescription");
            var orgDescription = document.getElementById("{{form.orgDescription.auto_id}}");
            var renderedOrgDescription = document.getElementById("renderedOrgDescription");

            function updateTeam() {
                renderedTeamDescription.innerHTML = marked(teamDescription.value);
            }

            function updateOrg() {
                renderedOrgDescription.innerHTML = marked(orgDescription.value);
            }

            updateTeam();
            updateOrg();

            teamDescription.onchange = updateTeam;
            teamDescription.oninput = updateTeam;
            orgDescription.onchange = updateOrg;
            orgDescription.oninput = updateOrg;
        </script>
    </form>
{% endblock %}
