{% extends "game/taskBase.html" %}

{% load markdownify %}

{% block title %} Příběh civilizace - Úkoly {% endblock %}

{% block content %}
    <h1>Úkoly</h1>
    <a href="{% url 'taskTaskNew' %}">
        <button class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
            Nový úkol
        </button>
    </a>
    {% if not tasks %}
        <p>Žádné úkoly. Začněte přidáním nějakého!</p>
    {% endif %}
    {% for task in tasks %}
        <div class="w-full my-4 p-3 bg-white shadow rounded">
            <div class="flex">
                <span class="text-lg font-bold">
                    {{task.name}}
                </span>
                <span class="text-gray-600">
                    &nbsp;({{task.id}})
                </span>
                <a href="{% url "taskTaskEdit" task.id %}" class="flex-auto" >
                    <button class="float-right shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded text-sm">
                        Upravit
                    </button>
                </a>
            </div>

            <div class="w-full flex">
                <div class="w-full md:w-1/2">
                    <div class="text-gray-600 w-full">Popis pro tým:</div>
                    {{task.teamDescription|markdownify}}
                </div>
                <div class="w-full md:w-1/2">
                    <div class="text-gray-600 w-full">Popis pro organizátory:</div>
                    {{task.orgDescription|markdownify}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
