{% extends "base.html" %}

{% block title %}Náhled technologického stromu{% endblock %}

{% block content %}

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/dagre-d3.min.js"></script>

<style>
.node rect {
  padding: 0;
  background: none;
  border: none;
  fill: white;
  stroke: black;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 3px;
}

{% for die in dies %}
.{{die.id}} path {
  stroke: #{{die.color}};
  fill: #{{die.color}};
}
{% endfor %}
</style>

<button class= "w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="download" onclick="return downloadSVG()">Stáhnout SVG</button>
<svg id="graph" class="w-full h-screen">
    <g/>
</svg>

<script>
    var g = new dagreD3.graphlib.Graph().setGraph({
        rankdir: 'LR'
    });

    {% for tech in nodes %}
        var div = document.createElement("div");
        var colors = [
            "#c0c0c0",
            "#d0f0b0",
            "#d0e0b0",
            "#c0d0c0",
            "#b0d0d0",
            "#b0d0e0",
            "#b0c0ff"
        ]
        div.style.backgroundColor = colors[{{tech.epocha}}];
        var html = '<div class="text-sm" style="width: 300px; white-space: normal;">';
        html += '<h3 class="text-lg border-b">' + "{{tech.label}}" + ' (' + "{{tech.epocha}}" + ')</h3>';
        html += "{{tech.id}}</p>"
        html += '<p>' + "{{tech.flavour}}" + '</p>';
        {% if tech.unlock_vyrobas.all %}
            html += '<b>Odemyká výroby:</b>'
            html += '<ul class="list-disc">';
            {% for vyroba in tech.unlock_vyrobas.all %}
                html += '<li>' + "{{vyroba.label}}" + '</li>';
            {% endfor %}
            html += '</ul>';
        {% endif %}
        {% if tech.unlock_enhancers.all %}
            html += '<b>Odemyká vylepšení:</b>'
            html += '<ul class="list-disc">';
            {% for enhancer in tech.unlock_enhancers.all %}
                html += '<li>' + "{{enhancer.label}}" + '</li>';
            {% endfor %}
            html += '</ul>';
        {% endif %}
        html += '</div>';
        div.innerHTML = html;
        g.setNode( "{{tech.id}}", { label: div });
    {% endfor %}

    {% for edge in edges %}
        g.setEdge( "{{edge.src.id}}", "{{edge.dst.id}}", { label: "{{edge.label}} ({{edge.id}})", class: "{{edge.die.id}}" });
    {% endfor %}

    var svg = d3.select("#graph");
    var inner = svg.select("g");

    // Set up zoom support
    var zoom = d3.zoom().on("zoom", function() {
        inner.attr("transform", d3.event.transform);
        });
    svg.call(zoom);

    // Create the renderer
    var render = new dagreD3.render();

    // Run the renderer. This is what draws the final graph.
    render(inner, g);

    // Center the graph
    var initialScale = 1;
    svg.call(zoom.transform, d3.zoomIdentity.translate((svg.node().getBBox().width - g.graph().width * initialScale) / 2, 20).scale(initialScale));

    document.getElementById("content").classList.remove("container");
</script>

<script>
    function getFile(url, onComplete) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log('success!', xhr);
                onComplete(xhr.response);
            } else {
                console.log('The request failed!');
            }
            console.log(xhr.response);
        };

        // Create and send a GET request
        // The first argument is the post type (GET, POST, PUT, DELETE, etc.)
        // The second argument is the endpoint URL
        xhr.open('GET', url);
        xhr.send();
    }

    var mainStyle = "";
    getFile("/static/css/styles.min.css", (data) => { mainStyle = data; });
    var inlineStyle = `
            .node rect {
            padding: 0;
            background: none;
            border: none;
            fill: white;
            stroke: black;
            }

            .edgePath path {
            stroke: #333;
            fill: #333;
            stroke-width: 3px;
            }

            {% for die in dies %}
                .{{die.id}} path {
                stroke: #{{die.color}};
                fill: #{{die.color}};
            }
            {% endfor %}
    `;

    function downloadSVG() {
        document.getElementById('graph').setAttribute('xmlns', 'http://www.w3.org/2000/svg')
        const svg = document.getElementById('graph').innerHTML;
        var head = '<svg title="graph" version="1.1" xmlns="http://www.w3.org/2000/svg">';
        var style = "<style>" + mainStyle + inlineStyle + "</style>";
        var full_svg = head +  style + svg + "</svg>"
        const blob = new Blob([full_svg], {type: "image/svg+xml"});
        const element = document.createElement("a");
        element.download = "w3c.svg";
        element.href = window.URL.createObjectURL(blob);
        element.click();
        element.remove();
    }
</script>

{% endblock %}