{% load markdownify %}

<h2 class="text-base font-bold my-0">
    {% if committed %}
        Zadejte týmu následující úkol:
    {% else %}
        Pokud bude akce potvrzena, tým dostane zadán následující úkol:
    {% endif %}
</h2>
<div class="w-full flex bg-white rounded shadow p-2">
    <div class="w-full md:w-1/2">
        <div class="text-gray-600 w-full">Popis pro tým:</div>
        {{task.teamDescription|markdownify}}
    </div>
    <div class="w-full md:w-1/2">
        <div class="text-gray-600 w-full">Popis pouze pro tebe:</div>
        {{task.orgDescription|markdownify}}
    </div>
</div>

