{% load printStickersDialog %}

{% if stickers %}
    Tým obdržel následující samolepky:
    <ul class="list-disc pl-8">
        {% for s in stickers %}
            <li>
                {{s.shortDescription}}
            </li>
        {% endfor %}
    </ul>

    {% if committed %}
        {% printStickersDialog "stickerDialog" %}
        <button
            class="w-full my-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="button"
            onclick="printStickers('stickerDialog', [{% for s in stickers %}'s.id', {% endfor %}])"
        >
            Vytisknout samolepky
        </button>
    {% endif %}
{% endif %}