<div class="generationInfo">
    {% if generationDue %}
        Do konce {{generationSeq}}. generace zbývá <span>{{remainsMin}}:{{remainsSec|stringformat:"02d"}}</span>.
    {% else %}
        Odpočítávání generací je zastaveno.
    {% endif %}
</div>
<script>
    function fetchNew() {
        let g = generationInfo;
        if (g.fetching)
            return;
        g.fetching = true;
        fetch("/generation/info").then(response => {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            if (response.status !== 200) {
                return response.text().then( text => {
                    throw new Error(`Response: ${response.status}: ${text}`);
                });
            }
            return response.json();
        })
        .then(r => {
            g.serverTime = Date.parse(r.serverTime);
            g.localTime = Date.now();
            g.generationDue = Date.parse(r.nextGenerationEnd);
            g.generationSeq = r.generationNum;
            g.fetching = false;
        })
        .catch(e => {
            console.log(e);
            g.fetching = false;
        });
    };

    function renderGenerationInfo() {
        let content = ""
        let g = generationInfo;
        g.updateCount += 1
        if (g.updateCount % 60 == 0)
            fetchNew()
        if (g.generationDue) {
            let clientDue = g.localTime + (g.generationDue - g.serverTime);
            let remains = clientDue - Date.now();
            if (remains <= 0) {
                content = `Probíhá změna z generace ${g.generationSeq} na ${g.generationSeq + 1}.`;
                fetchNew();
            }
            else {
                let rSeconds = remains / 1000;
                let minutes = Math.floor(rSeconds / 60);
                let seconds = Math.floor(rSeconds % 60);
                content = `Do konce ${g.generationSeq}. generace zbývá ${minutes}:${String(seconds).padStart(2, '0')}.`;
            }
        } else {
            content = "Odpočítávání generací je zastaveno."
        }
        document.querySelectorAll(".generationInfo").forEach(item => {
            item.textContent = content;
        });
    }
    if (!generationInfo) {
        var generationInfo = {
            "serverTime": Date.parse("{{serverTime|date:"c"}}"),
            "localTime": Date.now(),
            "generationDue":
                {%if generationDue %}
                    Date.parse("{{generationDue|date:"c"}}"),
                {% else %}
                    null,
                {% endif %}
            "generationSeq": {{generationSeq}},
            "fetching": false,
            "updateCount": 0
        };
        setInterval(renderGenerationInfo, 1000);
        renderGenerationInfo();
    }
</script>