{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1 style="font-size:80px" id="heading">
        Odpočet do konce {{generation}}. generace
    </h1>
    <div id="countdown" style="font-size:300px"></div>
    <div id="pauseMessage" style="font-size:80px" class="hidden">
        Generace jsou pozastaveny.
    </div>
    <div class="container mx-auto">
        <h1>Poslední veřejná oznámení:</h1>
        <div id="announcements" class="text-left">
        </div>
        <div id="statusMessage">
        </div>
    </div>
</div>

<script>
    document.getElementById("content").classList.remove("container");
    var heading = document.querySelector("#heading");
    var pauseMessage = document.querySelector("#pauseMessage");
    var timerDiv = document.querySelector("#countdown")
    var announcements = document.querySelector("#announcements");

    function fetchNew() {
        let g = generationInfo;
        if (g.fetching)
            return;
        g.fetching = true;
        fetch("/generation/info").then(response => {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            if (response.status !== 200) {
                return response.text().then( text => {
                    throw new Error(`Response: ${response.status}: ${text}`);
                });
            }
            return response.json();
        })
        .then(r => {
            g.serverTime = Date.parse(r.serverTime);
            g.localTime = Date.now();
            g.generationDue = Date.parse(r.nextGenerationEnd);
            g.generationSeq = r.generationNum;
            g.fetching = false;
        })
        .catch(e => {
            statusMessage.textContent = e.message;
            g.fetching = false;
        });
    };

    function renderGenerationInfo() {
        let g = generationInfo;
        g.updateCount += 1
        if (g.updateCount % 5 == 0)
            fetchNew()

        if (g.generationDue) {
            heading.textContent = `Odpočet do konce ${g.generationSeq}. generace`;
            let clientDue = g.localTime + (g.generationDue - g.serverTime);
            let remains = clientDue - Date.now();
            if (remains <= 0) {
                timerDiv.textContent = ""
                statusMessage.textContent = `Probíhá změna z generace ${g.generationSeq} na ${g.generationSeq + 1}.`;
                fetchNew();
            }
            else {
                let rSeconds = remains / 1000;
                let minutes = Math.floor(rSeconds / 60);
                let seconds = Math.floor(rSeconds % 60);
                statusMessage.textContent = ""
                timerDiv.textContent = `${minutes}:${String(seconds).padStart(2, "0")}`;
            }
        } else {
            heading.textContent = "Odpočítávání generací je zastaveno."
            statusMessage.textContent = ""
            timerDiv.textContent = ""
        }
    }

    function fetchAnnouncements() {
        fetch("/generation/announcement").then( response => {
            return response.text();
        }).then( text => {
            announcements.innerHTML = text;
        })
    }

    var generationInfo = {
        "serverTime": Date.parse("{{serverTime|date:"c"}}"),
        "localTime": Date.now(),
        "generationDue":
            {%if nextGenerationEnd %}
                Date.parse("{{nextGenerationEnd|date:"c"}}"),
            {% else %}
                null,
            {% endif %}
        "generationSeq": {{generation}},
        "fetching": false,
        "updateCount": 0
    };

    setInterval(renderGenerationInfo, 1000);
    renderGenerationInfo();

    setInterval(fetchAnnouncements, 20000);
    fetchAnnouncements();
</script>
{% endblock %}