{% extends "game/taskBase.html" %}

{% load markdownify %}

{% block title %} Příběh civilizace - Úkoly {% endblock %}

{% block content %}
    <h1>Přehled úkolů</h1>
    <ul>
        {% for team, teamTasks in tasks.items %}
            <h2>{{team.name}}</h2>
            <ul>
                {% if teamTasks %}
                    {% for t in teamTasks %}
                        <li>{{t.task.name}} ({{t.tech.label}}, zadáno {{t.assignedAt}})</li>
                    {% endfor %}
                {% else %}
                    Tým neplní žádné úkoly
                {% endif %}
            </ul>
        {% endfor %}
    </ul>

{% endblock %}
