{% extends "game/actionBase.html" %}
{% load crispy_forms_tags qrScanner %}

{% block title %} Příběh civilizace - Zadat akci {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label for="id_team" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4 requiredField">
                    Tým<span class="asteriskField">*</span>
                </label>
            </div>
            <div class="flex flex-wrap field md:w-2/3">
                {% for team in teams %}
                    <button class="teamButton bg-{{team.color}} mr-2 mb-2 border-black rounded flex-auto"
                            style="width: 70px; height: 70px;"
                            data-team="{{team.id}}"
                            onclick="return onTeamButtonClick(this)">
                        {{team.name}}
                    </button>
                {% endfor %}
            </div>
        </div>

        {{ form|crispy }}
        <button
            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="submit">
            Začít tah
        </button>
    </form>
    <script>
        var teamSelect = document.getElementById("{{form.team.auto_id}}");
        var entitySelect = document.getElementById("{{form.entity.auto_id}}");
        var actionSelect = document.getElementById("{{form.action.auto_id}}");

        function unwrap(node) {
            node.replaceWith(...node.childNodes);
        }

        function wrap(node, wrapper) {
            var w = document.createElement(wrapper);
            node.parentNode.insertBefore(w, node);
            w.appendChild(node);
        }

        function showAllOptions(select) {
            for (var i = 0; i < select.children.length; i++) {
                var option = select.children[i];
                if (option.tagName == "SPAN") {
                    option.firstChild.selected = false;
                    unwrap(option);
                }
                else {
                    option.selected = false
                }
            }
        }

        function filterOptions(select, allowed) {
            for (var i = 0; i < select.children.length; i++) {
                var option = select.children[i];
                if (option.tagName == "SPAN") {
                    option.firstChild.selected = false;
                    var hidden = !allowed.has(option.firstChild.value);
                    if (hidden) {
                        continue;
                    }
                    unwrap(option);
                }
                else {
                    option.selected = false
                    var hidden = !allowed.has(option.value);
                    if (!hidden) {
                        continue;
                    }
                    wrap(option, "span");
                }
            }
        }

        function filterEntities() {
            if (!teamSelect.value) {
                return;
            }
            var allowed;
            if (actionSelect.value) {
                var a = actionEntities[actionSelect.value];
                var b = teamAllowedEntities[teamSelect.value];
                allowed = new Set(
                    [...a].filter(x => b.has(x)));
            } else {
                allowed = teamAllowedEntities[teamSelect.value];
            }

            allowed.add("");
            filterOptions(entitySelect, allowed);
            entitySelect.firstChild.selected = true;
        }

        function onTeamButtonClick(button) {
            teamSelect.value = button.dataset.team;
            renderButtons();
            return false;
        }

        function renderButtons() {
            let buttons = document.querySelectorAll(".teamButton");
            let selected = teamSelect.value;
            for (let i = 0; i != buttons.length; i++) {
                let btn = buttons[i];
                if (btn.dataset.team == selected) {
                    btn.classList.add("border-4");
                } else {
                    btn.classList.remove("border-4");
                }
            }
        }

        teamSelect.onchange = function() {
            console.log("Changed team!");
            filterEntities();
            showAllOptions(actionSelect);
            actionSelect.firstChild.selected = true;
            renderButtons();
        };

        entitySelect.onchange = function() {
            console.log("Changed entity!");
            if (!teamSelect.value || !entitySelect.value || actionSelect.value) {
                return;
            }
            action = actionForEntity[entitySelect.value]
            var allowed = new Set([action]);
            console.log(allowed);
            filterOptions(actionSelect, allowed);
            document.querySelector('#sel [value="' + action + '"]').selected = true;
        };

        actionSelect.onchange = function() {
            console.log("Changed action!");
            filterEntities();
        };

    </script>
    <script>
        var entities = [
            {%for entity in form.allEntities %}
                ["{{entity.id}}", "{{entity.label}}"],
            {%endfor%}
        ];
        var teamAllowedEntities = {
            {% for team, entities in form.teamAllowedEntities.items %}
                {{team}}: new Set([{% for entity in entities %} "{{entity.id}}", {% endfor %}]),{% endfor %}
        };
        var actionEntities = {
            {% for action, entities in form.actionEntities.items %}
                {{action.value}}: new Set([{% for entity in entities %} "{{entity.id}}", {% endfor %}]),{% endfor %}
        };

        var actionForEntity = {
            {% for entity, action in form.actionForEntity.items %}
                "{{entity.id}}": "{{action.value}}",{% endfor %}
        };
    </script>

{{ block.super }}
{% endblock %}

{% block afterContainer %}
    {% qrScanner %}
{% endblock %}