{% extends "game/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<script>
    function addSpinbox(input) {
        input.classList.add("flex-1", "mx-3");
        input.style = "min-width: 5em;"
        parent = input.parentNode;
        parent.classList.add("flex-wrap")

        minus = document.createElement("button");
        minus.id = input.id + "-minus1";
        minus.innerHTML = "&darr;";
        minus.style = "min-width: 0px";
        minus.classList.add("inline-block", "shadow", "text-center",
            "bg-purple-500", "hover:bg-purple-400", "focus:shadow-outline",
            "focus:outline-none", "text-white", "font-bold", "py-2", "px-4",
            "rounded", "flex-none", "mx-1", "text-xs");

        plus = document.createElement("buttom");
        plus.id = input.id + "-plus1";
        plus.innerHTML = "&uarr;";
        plus.style = "min-width: 0px";
        plus.classList.add("inline-block", "shadow", "text-center",
            "bg-purple-500", "hover:bg-purple-400", "focus:shadow-outline",
            "focus:outline-none", "text-white", "font-bold", "py-2", "px-4",
            "rounded", "flex-none", "mx-1", "text-xs");

        parent.prepend(minus);
        parent.append(plus);

        minus = document.createElement("button");
        minus.id = input.id + "-minus10";
        minus.innerHTML = "&darr;&darr;";
        minus.style = "min-width: 0px";
        minus.classList.add("inline-block", "shadow", "text-center",
            "bg-purple-500", "hover:bg-purple-400", "focus:shadow-outline",
            "focus:outline-none", "text-white", "font-bold", "py-2", "px-4",
            "rounded", "flex-none", "mx-1", "text-xs");

        plus = document.createElement("buttom");
        plus.id = input.id + "-plus10";
        plus.innerHTML = "&uarr;&uarr;";
        plus.style = "min-width: 0px";
        plus.classList.add("inline-block", "shadow", "text-center",
            "bg-purple-500", "hover:bg-purple-400", "focus:shadow-outline",
            "focus:outline-none", "text-white", "font-bold", "py-2", "px-4",
            "rounded", "flex-none", "mx-1", "text-xs");

        parent.prepend(minus);
        parent.append(plus);

        document.addEventListener('click', function (event) {
            if (!event.target.matches('#' + input.id + "-minus1")) return;
            event.preventDefault();

            if (input.value == null || input.value == "") {
                input.value = "0"
            }
            input.value = parseInt(input.value) - 1;
            var event = new Event('change');
            input.dispatchEvent(event);
        }, false);

        document.addEventListener('click', function (event) {
            if (!event.target.matches('#' + input.id + "-plus1")) return;
            event.preventDefault();
            if (input.value == null || input.value == "") {
                input.value = "0"
            }
            input.value = parseInt(input.value) + 1;
            var event = new Event('change');
            input.dispatchEvent(event);
        }, false);

        document.addEventListener('click', function (event) {
            if (!event.target.matches('#' + input.id + "-minus10")) return;
            event.preventDefault();

            if (input.value == null || input.value == "") {
                input.value = "0"
            }
            input.value = parseInt(input.value) - 10;
            var event = new Event('change');
            input.dispatchEvent(event);
        }, false);

        document.addEventListener('click', function (event) {
            if (!event.target.matches('#' + input.id + "-plus10")) return;
            event.preventDefault();
            if (input.value == null || input.value == "") {
                input.value = "0"
            }
            input.value = parseInt(input.value) + 10;
            var event = new Event('change');
            input.dispatchEvent(event);
        }, false);
    }

    var inputs = document.getElementsByTagName('input');
    for(var i = 0; i < inputs.length; i++) {
        if(inputs[i].type.toLowerCase() == 'number') {
            addSpinbox(inputs[i]);
        }
    }
</script>
{% endblock %}