{% extends "game/base.html" %}
{% load crispy_forms_tags qrScanner %}

{% block title %} Příběh civilizace - Zadat akci {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button
            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="submit">
            Začít tah
        </button>
    </form>
{% endblock %}

{% block afterContainer %}
    {% qrScanner %}
{% endblock %}