{% extends "game/actionBase.html" %}
{% load crispy_forms_tags %}

{% block title %} Příběh civilizace - Zadat akci {% endblock %}

{% block content %}
    <div class="w-full border-l-8 border-{{team.color}} pl-2">
        <h1>{{action.label}} pro tým {{team.name}}</h1>
        <p>Vyplňte zbývající parametry:</p>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
            <button
                class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                type="submit">
                Odeslat
            </button>
        </form>
        {{ block.super }}
    </div>

{% endblock %}