{% extends "game/actionBase.html" %}
{% load crispy_forms_tags qrScanner filters %}

{% block title %} Příběh civilizace - Zadat akci {% endblock %}

{% block content %}
    <form method="post" onsubmit="onSubmit()" autocomplete="off">
        {% csrf_token %}

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label for="id_team" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4 requiredField">
                    Tým<span class="asteriskField">*</span>
                </label>
            </div>
            <div class="flex flex-wrap field md:w-2/3">
                {% for team in teams %}
                    <button class="teamButton bg-{{team.color}} mr-2 mb-2 border-black rounded flex-auto"
                            style="width: 70px; height: 70px;"
                            data-team="{{team.id}}"
                            type="button"
                            onclick="return onTeamButtonClick(this)">
                        {{team.name}}
                    </button>
                {% endfor %}
            </div>
        </div>

        {{ form|crispy }}
        <button
            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded disabled:bg-gray-500"
            type="button"
            {% comment %}
                // Firefox seems to be overly-protective and it disables the submit
                // button when going back... and Maara wants to use back a lot.
                // Let's make him happy by not making this a submit, but use JS
            {% endcomment %}
            onclick="this.closest('form').submit()"
            autocomplete="off">
            Začít tah
        </button>
    </form>
    <script>
        var teamSelect = document.getElementById("{{form.team.auto_id}}");
        var entitySelect = document.getElementById("{{form.entity.auto_id}}");
        var actionSelect = document.getElementById("{{form.action.auto_id}}");

        function onSubmit() {
            window.localStorage.setItem("lastAction", actionSelect.value);
        }

        function unwrap(node) {
            node.replaceWith(...node.childNodes);
        }

        function wrap(node, wrapper) {
            var w = document.createElement(wrapper);
            node.parentNode.insertBefore(w, node);
            w.appendChild(node);
        }

        function showAllOptions(select) {
            for (var i = 0; i < select.children.length; i++) {
                var option = select.children[i];
                if (option.tagName == "SPAN") {
                    option.firstChild.selected = false;
                    unwrap(option);
                }
                else {
                    option.selected = false
                }
            }
        }

        function filterOptions(select, allowed) {
            for (var i = 0; i < select.children.length; i++) {
                var option = select.children[i];
                if (option.tagName == "SPAN") {
                    option.firstChild.selected = false;
                    var hidden = !allowed.has(option.firstChild.value);
                    if (hidden) {
                        continue;
                    }
                    unwrap(option);
                }
                else {
                    option.selected = false
                    var hidden = !allowed.has(option.value);
                    if (!hidden) {
                        continue;
                    }
                    wrap(option, "span");
                }
            }
        }

        function filterEntities() {
            if (!teamSelect.value) {
                return;
            }
            var allowed;
            if (actionSelect.value) {
                allowed = entityFilter[actionSelect.value][teamSelect.value]
            } else {
                allowed = new Set();
                for (const [action, teamFilter] of Object.entries(entityFilter)) {
                    for (let elem of teamFilter[teamSelect.value]) {
                        allowed.add(elem)
                    }
                }
            }

            allowed.add("");
            filterOptions(entitySelect, allowed);
            entitySelect.firstChild.selected = true;
        }

        function onTeamButtonClick(button) {
            teamSelect.value = button.dataset.team;
            renderButtons();
            teamSelect.onchange();
            return false;
        }

        function renderButtons() {
            let buttons = document.querySelectorAll(".teamButton");
            let selected = teamSelect.value;
            for (let i = 0; i != buttons.length; i++) {
                let btn = buttons[i];
                if (btn.dataset.team == selected) {
                    btn.classList.add("border-4");
                } else {
                    btn.classList.remove("border-4");
                }
            }
        }

        teamSelect.onchange = function() {
            filterEntities();
            showAllOptions(actionSelect);
            let lastAction = window.localStorage.getItem("lastAction");
            if (lastAction) {
                actionSelect.value = lastAction;
            }
            else {
                actionSelect.firstChild.selected = true;
            }
            renderButtons();
            actionSelect.onchange();
        };

        entitySelect.onchange = function() {
            if (!teamSelect.value || !entitySelect.value || actionSelect.value) {
                return;
            }
            var allowed = new Set();
            for (const [action, teamFilter] of Object.entries(entityFilter)) {
                if (teamFilter[teamSelect.value].has(entitySelect.value)) {
                    allowed.add(action)
                    break;
                }
            }
            filterOptions(actionSelect, allowed);
        };

        actionSelect.onchange = function() {
            filterEntities();
        };

    </script>
    <script>
        const entityFilter = {
            {% for action, filter in form.entityFilter.items %}
                {{action.CiviMeta.move.value}}: {
                    {% for team, entities in filter.items %}
                        {{team.id}}: new Set([{% for entity in entities %} "{{entity.id}}", {% endfor %}]),{% endfor %}
                },{% endfor %}
        }
    </script>

{{ block.super }}
{% endblock %}

{% block afterContainer %}
    {% qrScanner %}
{% endblock %}