{% extends "base.html" %}

{% block nav %}
    {% if request.user.isOrg %}
        <ul class="w-full list-reset lg:flex flex-1 items-center px-4 md:px-0 border-gray-600 border-b-2 lg:border-none">
            <li class="mr-6 my-2 md:my-0">
                <a href="{% url 'dashboardIndex' %}"
                    class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                        {% if 'dashboard' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                    <i class="fas fa-chart-line fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Statistiky týmů</span>
                </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
                <a href="{% url 'actionIndex' %}"
                class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                {% if 'action' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                    <i class="fas fa-directions fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Zadat akci</span>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}