{% extends "base.html" %}
{% load generationInfo %}

{% block nav %}
    {% if request.user.isOrg %}
        <ul class="w-full list-reset lg:flex flex-1 items-center px-4 md:px-0 border-gray-600 border-b-2 lg:border-none">
            <li class="mr-6 my-2 md:my-0">
                <a href="{% url 'dashboardIndex' %}"
                    class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                        {% if 'dashboard' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                    <i class="fas fa-chart-line fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Přehled týmů</span>
                </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
                <a href="{% url 'actionIndex' %}"
                class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                {% if 'action' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                    <i class="fas fa-directions fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Zadat akci</span>
                </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
                <a href="{% url 'taskTaskIndex' %}"
                class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                {% if 'task' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                    <i class="fas fa-tasks fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Spravovat úkoly</span>
                </a>
            </li>

            {% if request.user.isSuperUser %}
                <li class="mr-6 my-2 md:my-0">
                    <a href="{% url 'messageBoardIndex' %}"
                    class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                    {% if 'messageBoard' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                        <i class="fas fa-sticky-note fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Vývěska</span>
                    </a>
                </li>


                <li class="mr-6 my-2 md:my-0">
                    <a href="{% url 'generationConfig' %}"
                    class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                    {% if 'generation' in request.resolver_match.view_name %} text-orange-600 border-orange-600 {% else %} text-gray-500 border-gray-500 {% endif %}">
                        <i class="fas fa-history fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Generace</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block contentHeader %}
    <div class="border-t-4 rounded-b px-4 py-3 shadow-md mb-4">
        {% generationInfo %}
    </div>
{% endblock %}
