{% extends "game/dashboardBase.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard {% endblock %}

{% block content %}

{% if boardMessages %}
    <h2 class="text-xl my-1">Nové zprávy</h2>

    {% for message in boardMessages %}
        <div class="w-full my-2">
            <div class="bg-white border-orange-400 border-2 rounded shadow p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-grow text-left md:w-full">
                        <p class="font-bold text-xs uppercase text-gray-600 mb-2">
                            {{message.appearDateTime}}</p>
                        <p>
                            {{ message.content | safe }}
                        </p>
                    </div>
                    <div class="flex-none text-left">
                        {%if not user.isOrg %}<a href="{%url "messageBoardDismiss" messageId=message.id %}?next={{ request.get_full_path|urlencode }}">{% endif %}
                            <button class="text-white rounded p-4 {%if user.isOrg %} bg-gray-500 {% else %} bg-purple-500 {% endif %}">
                                Skrýt
                            </button>
                        {%if not user.isOrg %}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="w-full section"><h2 class="text-xl">Souhrnné informace</h2></div>

<div class="flex flex-wrap">
    {% card "Počet obyvatel" %} {{teamState.population.population}}  {% endcard %}
    {% card "Dotupná práce" %} {{teamState.population.work}}  {% endcard %}
    {% card "Kolo" %} {{teamState.turn}}. kolo / {{worldState.generation}}. generace  {% endcard %}
    {% card "Zdroje" %} {{teamState.resources}} {% endcard %}
    {% card "Zname techy" %} {{teamState.techs.getOwnedTechs}} {% endcard %}
    {% card "Zkoumane techy" %} {{teamState.techs.getTechsUnderResearch}} {% endcard %}
    {% card "Vyroby" %} {{teamState.techs.getVyrobas}} {% endcard %}
    {% card "Jidlo v zasobe" %}
        <ul class="text-left">
        {% for r, a in teamState.resources.getResourcesByType.items %}
            <li>{{r.htmlRepr | safe}}: {{a}}</li>
        {% endfor %}
        </ul>
    {% endcard %}
    {% card "Vzdalenosti" %} {{teamState.distances}} {% endcard %}

</div>

<div class="w-full section"><h2 class="text-xl">Testovací informace</h2></div>

<div class="flex flex-wrap">
    {% card "Počítadlo - bez ikony" width="third" icon="" %} {{teamState.sandbox.data.counter}}  {% endcard %}
</div>

<div class="w-full section"><h2 class="text-xl">Grafy</h2></div>

<div class="flex flex-wrap">
    {% card "Fancy graf" width="half" %}
        <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
        <script>
            new Chart(document.getElementById("chartjs-7"), {
                "type": "bar",
                "data": {
                    "labels": ["January", "February", "March", "April"],
                    "datasets": [{
                        "label": "Page Impressions",
                        "data": [10, 20, 30, 40],
                        "borderColor": "rgb(255, 99, 132)",
                        "backgroundColor": "rgba(255, 99, 132, 0.2)"
                    }, {
                        "label": "Adsense Clicks",
                        "data": [5, 15, 10, 30],
                        "type": "line",
                        "fill": false,
                        "borderColor": "rgb(54, 162, 235)"
                    }]
                },
                "options": {
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                "beginAtZero": true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endcard %}
    {% card "Další fancy graf" width="half" %}
        <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
        <script>
            new Chart(document.getElementById("chartjs-0"), {
                "type": "line",
                "data": {
                    "labels": ["January", "February", "March", "April", "May", "June", "July"],
                    "datasets": [{
                        "label": "Views",
                        "data": [65, 59, 80, 81, 56, 55, 40],
                        "fill": false,
                        "borderColor": "rgb(75, 192, 192)",
                        "lineTension": 0.1
                    }]
                },
                "options": {}
            });
        </script>
    {% endcard %}

    {% card "Umíme dokonce i tabulky! (i přes celou šířku)" width="full" %}
        <table class="w-full p-5 text-gray-700 text-left">
            <thead>
                <tr class="border-b-2">
                    <th class="text-left text-blue-900">Name</th>
                    <th class="text-left text-blue-900">Side</th>
                    <th class="text-left text-blue-900">Role</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>Obi Wan Kenobi</td>
                    <td>Light</td>
                    <td>Jedi</td>
                </tr>
                <tr>
                    <td>Greedo</td>
                    <td>South</td>
                    <td>Scumbag</td>
                </tr>
                <tr>
                    <td>Darth Vader</td>
                    <td>Dark</td>
                    <td>Sith</td>
                </tr>
            </tbody>
        </table>
    {% endcard %}

</div>

{{ block.super }}
{% endblock %}

