{% extends "game/dashboardBase.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard: Zprávy{% endblock %}

{% block content %}
<h1>Přehled zpráv</h1>

{% for message in boardMessages %}
    <div class="w-full my-2">
        <div class="rounded shadow p-4
                    {% if message.type == message.type.normal %}
                        bg-white
                    {% elif message.type == message.type.errata %}
                        bg-blue-300
                    {% elif message.type == message.type.announcement %}
                        bg-red-300
                    {% endif %}">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-left md:w-full">
                    <p class="font-bold text-xs uppercase text-gray-600">
                        {{message.appearDateTime}}
                        <span class="ml-4">
                            ({{message.type}})
                        </span>
                    </p>
                    {% if user.isOrg %}
                        <p class="text-xs uppercase text-gray-600">
                            Četl:
                            {% for read in message.messageread_set.all %}
                                {{read.user.username}}
                                {% if not forloop.last %}
                                    {% ifequal forloop.revcounter 2 %}
                                        a
                                    {% else %}
                                        ,&nbsp;
                                    {% endifequal %}
                                {% else %}
                                {% endif %}
                            {% empty %}
                                nikým
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="mt-2">
                        {{ message.content | safe}}
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endfor %}

{{ block.super }}
{% endblock %}