{% extends "game/dashboardBase.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard {% endblock %}

{% block content %}

{% if boardMessages %}
    <h2 class="text-xl my-1">Nové zprávy</h2>

    {% for message in boardMessages %}
        <div class="w-full my-2">
            <div class="bg-white border-orange-400 border-2 rounded shadow p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-grow text-left md:w-full">
                        <p class="font-bold text-xs uppercase text-gray-600 mb-2">
                            {{message.appearDateTime}}</p>
                        <p>
                            {{ message.content | safe }}
                        </p>
                    </div>
                    <div class="flex-none text-left">
                        {%if not user.isOrg %}<a href="{%url "messageBoardDismiss" messageId=message.id %}?next={{ request.get_full_path|urlencode }}">{% endif %}
                            <button class="text-white rounded p-4 {%if user.isOrg %} bg-gray-500 {% else %} bg-purple-500 {% endif %}">
                                Skrýt
                            </button>
                        {%if not user.isOrg %}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if user.isOrg %}
    <div class="w-full section"><h2 class="text-xl">Debugovací informace</h2></div>
    <div class="flex flex-wrap">
        {% card "Zname techy" width="full" %}
            <p class="text-left">
                {% for t in teamState.techs.getOwnedTechs %}
                    {{t.label | safe}},
                {% endfor %}
            </p>
        {% endcard %}

        {% card "Vyroby" width="full"%}
            <p class="text-left">
                {% for t in teamState.techs.getVyrobas %}
                    {{t.label | safe}},
                {% endfor %}
            </p>
        {% endcard %}
    </div>
{% endif %}

<div class="w-full section"><h2 class="text-xl">Souhrnné informace</h2></div>
<div class="flex flex-wrap">
    {% card "Populace" icon="fa-users" width="third" color="green-600"%}
        86 / {{teamState.population.population}}<br>
        <span class="text-sm text-gray-400">(nezaměstnaných/zaměstnaných)</span>
    {% endcard %}

    {% card "Dostupná práce" icon="fa-briefcase" width="third" color="green-600" %}
        {{teamState.population.work}}
    {% endcard %}

    {% card "Kolo" icon="fa-calendar" width="third" color="green-600" %}
        {{teamState.turn}}. kolo / {{worldState.generation}}. generace
    {% endcard %}
</div>

<div class="w-full section"><h2 class="text-xl">Ekonomika</h2></div>
<div class="flex flex-wrap">
    {% card "Právě zkoumané techologie" icon="fa-cogs" width="third" color="green-600" %}
        <ul class="text-left">
            {% for r, a in teamState.techs.getTechsUnderResearch %}
                <li>{{r.htmlRepr | safe}}: {{a}}</li>
            {% empty %}
                <span class="text-center">Právě nezkoumáte žádné technologie</span>
            {% endfor %}
        </ul>
    {% endcard %}
    {% card "Dostupné zdroje" icon="fa-warehouse" width="third" color="green-600" %}
        <ul class="text-left">
        {% for r, a in teamState.resources.getResourcesByType.items %}
            <li>{{r.htmlRepr|safe}}: {{a}}</li>
        {% endfor %}
        </ul>
    {% endcard %}
    {% card "Vzdálenosti" icon="fa-compass" width="third" color="green-600" %}
        <ul class="text-left">
            <li>Centrum &mdash; Pila: 58</li>
            <li>Centrum &mdash; Přístav: 30</li>
            <li>Centrum &mdash; Kasárna: 45</li>
            <li>Univerzita &mdash; Hospoda: 1</li>
        </ul>
    {% endcard %}
</div>

<div class="w-full section"><h2 class="text-xl">Historie</h2></div>
<div class="flex flex-wrap">
    {% card "Příprava civilizace" width="half" %}
        <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
        <script>
            new Chart(document.getElementById("chartjs-7"), {
                "type": "bar",
                "data": {
                    "labels": ["Prosinec", "Leden", "Únor", "Březen", "Duben", "Květen", "Červen"],
                    "datasets": [{
                        "label": "Aktivita příprav",
                        "data": [10, 20, 20, 0, 0, 5, 100],
                        "borderColor": "rgb(255, 99, 132)",
                        "backgroundColor": "rgba(255, 99, 132, 0.2)"
                    }, {
                        "label": "Úroveň stresu",
                        "data": [5, 5, 5, 20, 0, 69, 112],
                        "type": "line",
                        "fill": false,
                        "borderColor": "rgb(54, 162, 235)"
                    }]
                },
                "options": {
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                "beginAtZero": true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endcard %}
    {% card "Akce se blíží" width="half" %}
        <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
        <script>
            new Chart(document.getElementById("chartjs-0"), {
                "type": "line",
                "data": {
                    "labels": ["úterý", "středa", "čtvrtek", "pátek", "sobota", "neděle", "pondělí", "úterý", "středa", "čtvrtek", "pátek"],
                    "datasets": [{
                        "label": "Dnů do začátku akce",
                        "data": [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
                        "fill": false,
                        "borderColor": "rgb(75, 192, 192)",
                        "lineTension": 0.1
                    }]
                },
                "options": {}
            });
        </script>
    {% endcard %}
</div>

{{ block.super }}
{% endblock %}

