{% extends "game/dashboardBase.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard {% endblock %}

{% block content %}

<h2 class="text-2xl my-1">Vlastněné ostrovy</h2>

{% if not ownedIslands %}
    <p>Zatím nevlastníte žádné ostrovy!</p>
{% else %}
<div class="flex flex-wrap">
    {% for islandState in ownedIslands %}
        {% card "Kolo" icon="fa-globe" width="third" color=targetTeam.color %}
            <h3 class="text-xl">{{islandState.island.label}}</h3>
            <p>Obrana: {{islandState.defense}}/{{islandState.maxDefense}}</p>
            <p>Poloha: TBA</p>
        {% endcard %}
    {% endfor %}
</div>
{% endif %}

<h2 class="text-2xl my-1">Známé ostrovy</h2>

{% if not knownIslands %}
    <p>Zatím neznáte žádné ostrovy!</p>
{% else %}
    {% for islandInfo in knownIslands %}
        {% with islandInfo.state as islandState %}
            {% card islandState.island.label width="third" color=targetTeam.color %}
                <p>Vlastník:
                    {% if islandState.owner %}
                        {{islandState.owner.name}}
                    {% else %}
                        Nikdo
                    {% endif %}</p>
                <p>Obrana: {{islandState.defense}}/{{islandState.maxDefense}}</p>
                <p>Znají ho:
                    {% for team in islandInfo.knownBy %}
                        <span class="inline-block align-middle w-4 h-4 bg-{{team.color}} rounded-full">&nbsp;
                        </span>
                    {% endfor %}</p>
            {% endcard %}
        {% endwith %}
    {% endfor %}
{% endif %}


{{ block.super }}
{% endblock %}

