{% extends "game/dashboardBase.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard {% endblock %}

{% block content %}

<h2 class="text-xl my-1 mt-3">Přehled týmu: {{ targetTeam.name }}</h2>
{% card "Populace" icon="fa-users" width="third" color=targetTeam.color%}
        {{otherTeamState.resources.getObyvatel}} / {{otherTeamState.resources.getPopulation}}<br>
        <span class="text-sm text-gray-400">(nespecializovaných/celkem)</span>
    {% endcard %}
{{ block.super }}
{% endblock %}