{% extends "game/base.html" %}

{% load crispy_forms_tags generationInfo %}

{% block title %} Příběh civilizace - změnit parametry čítače generací {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button
            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="submit"
            name="change">
            Změnit parametry
        </button>

        <div class="w-full flex flex-wrap border-t-2 border-gray-700 mt-4">
            <div class="w-full my-2">
                {% generationInfo %}
            </div>
            <div class="w-full md:w-1/3 p-2 md:pl-0">
                <button
                        type="submit"
                        name="reset"
                        class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                    Resetovat aktuální generaci
                </button>
            </div>

            <div class="w-full md:w-1/3 p-2">
                <button
                        type="submit"
                        name="start"
                        class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                    Spustit aktuální generaci
                </button>
            </div>

            <div class="w-full md:w-1/3 p-2 md:pr-0">
                <button
                        type="submit"
                        name="stop"
                        class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                    Zastavit aktuální generaci
                </button>
            </div>
        </div>
    </form>
    {{ block.super }}
{% endblock %}
