{% extends "game/base.html" %}

{% load cards %}

{% block title %} Příběh civilizace - Dashboard {% endblock %}

{% block nav %}
    {{ block.super }}

    <ul class="w-full list-reset lg:flex flex-1 items-center px-4 md:px-0">
        <li class="mr-6 my-2 md:my-0">
            <a href="{% url 'taskTaskIndex' %}"
                class="block py-1 md:py-2 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                    {% if 'taskTask' in request.resolver_match.view_name %}
                        text-orange-600 border-orange-600
                    {% else %}
                        text-gray-500 border-gray-500
                    {% endif %}">
                <i class="fas fa-wrench fa-fw mr-3 text-orange-600"></i>
                <span class="pb-1 md:pb-0 text-sm">Spravovat úkoly</span>
            </a>
        </li>
        <li class="mr-6 my-2 md:my-0">
            <a href="{% url 'taskMappingIndex' %}"
                class="block py-1 md:py-2 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 hover:border-orange-600
                    {% if 'taskMapping' in request.resolver_match.view_name %}
                        text-orange-600 border-orange-600
                    {% else %}
                        text-gray-500 border-gray-500
                    {% endif %}">
                <i class="fas fa-thumbtack fa-fw mr-3 text-orange-600"></i>
                <span class="pb-1 md:pb-0 text-sm">Spravovat přiřazení</span>
            </a>
        </li>
    </ul>
{% endblock %}
