{% extends "game/taskBase.html" %}

{% load markdownify crispy_forms_tags filters%}

{% block title %} Příběh civilizace - Mapování úkolů {% endblock %}

{% block content %}
    <h1>Seznam technologií</h1>
    {% if not techs %}
        <p>Žádné úkoly.</p>
    {% endif %}
    {% for tech in techs %}
        <div class="w-full my-4 p-3 bg-white shadow rounded" id="{{tech.tech.id}}">
            <div class="w-full">
                <span class="text-lg font-bold">
                    {{tech.tech.label}}
                </span>
                <span class="text-gray-600">
                    ({{tech.tech.id}})
                </span>
            </div>
            <div class="w-full flex">
                <div class="w-full md:w-1/2">
                    <div class="text-gray-600">Splněno následujícími týmy:</div>
                    Nikdo nesplnil
                    <div class="text-gray-600">Týmy plní:</div>
                    Nikdo neplní
                </div>
                <div class="w-full md:w-1/2">
                    <span class="text-gray-600">Přiřazené úkoly:</span>
                    <form method="post">
                        {% csrf_token %}

                        {{ tech.mappingForm | crispy }}

                        {{ tech.assignementForm.management_form | crispy }}
                        <div class="techForms">
                            {% for form in tech.assignementForm %}
                                <div class="techForm">
                                    <div class="w-full">
                                        {{ form.task.errors }}
                                    </div>
                                    <div class="w-full flex my-2">
                                        {{ form.task | addClasses:"select flex-auto" }}
                                        <button type="button" class="deleteButton rounded bg-red-600 px-4">
                                            <i class="fas fa-minus fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" class="addButton rounded w-full bg-green-400 p-1 my-2">
                            <i class="fas fa-plus fa-fw"></i> Přidat políčko
                        </button>

                        <button
                            type="submit"
                            class="w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-4 rounded">
                                Uložit změny
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        let techs = document.querySelectorAll(".techForm")
        let template = techs[techs.length - 1].cloneNode(true);

        function fixMetadata(form) {
            let totalFormsInput = form.querySelector("#id_form-TOTAL_FORMS");
            let techForms = form.querySelector(".techForms");
            for (let i = 0; i != techForms.children.length; i++ ) {
                let child = techForms.children[i];
                let inputs = child.querySelectorAll('*[id^="id_form-"]');
                for ( let j = 0; j != inputs.length; j++ ) {
                    let elem = inputs[j];
                    elem.id = elem.id.replace(/id_form-(\d+)(.*)/, "id_form-" + i.toString() + "$2")
                    elem.name = elem.name.replace(/form-(\d+)(.*)/, "form-" + i.toString() + "$2")
                }
            }
            totalFormsInput.value = techForms.children.length;
        }

        function onAddClick(e) {
            let button = e.target;
            form = button.closest("form");
            forms = form.querySelector(".techForms");
            let child = template.cloneNode(true);
            forms.appendChild(child);
            child.querySelector(".deleteButton").onclick = onDeleteClick;
            fixMetadata(form);
        }

        function onDeleteClick(e) {
            let button = e.target;
            form = button.closest("form");
            parent = button.closest(".techForm");
            parent.parentNode.removeChild(parent);
            fixMetadata(form);
        }

        let addButtons = document.querySelectorAll(".addButton");
        let deleteButtons = document.querySelectorAll(".deleteButton");
        for (let i = 0; i != addButtons.length; i++) {
            addButtons[i].onclick = onAddClick;
        }
        for (let i = 0; i != deleteButtons.length; i++) {
            deleteButtons[i].onclick = onDeleteClick;
        }

    </script>
{% endblock %}
